default_stages:
  - pre-commit
  - manual


repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff-format
        stages: [pre-commit]
      - id: ruff
        args: [--fix, --config=pyproject.toml]
        stages: [pre-commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/openstack/bashate
    rev: 2.1.1
    hooks:
      - id: bashate
        name: bashate
        description: This hook runs bashate for linting shell scripts
        entry: bashate
        language: python
        types: [shell]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        args: ["--style=file", "-i"]
        stages: [pre-commit]
        files: (csrc|include)/.*\.(cpp|cc|cxx|h|hpp)$

      - id: clang-tidy
        name: clang-tidy
        args: [
            "--quiet",
            "-p=build", # there should be compile_commands.json in build directory
            "--warnings-as-errors=*",
            "-extra-arg=-I/usr/lib/gcc/x86_64-linux-gnu/11/include",
          ]
        files: (csrc|include)/.*\.(cpp|hpp)$


default_language_version:
  python: python3.10
